<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <head>
        <meta charset="utf-8"/>
        <title>Potato Game</title>
        <link rel="stylesheet" href="game.css">
    </head>
<body>
<audio src="./sound/bensound-jazzyfrenchy.mp3" autoplay="autoplay" loop="loop"></audio>
    
<div ng-app="myApp" ng-controller="gameCards">
    
    <div class="game">
        
            <div id="gstart">
                
                <div class="left"><img ng-src="{{charleft}}"></div>
                <div class="right"><img ng-src="{{charright}}"></div>

            </div>
    </div>
    
    <div id="dialogue">
        
        <div style="clear:both;">{{dialogue}}</div>
        
        <div class="button" ng-repeat="x in choices" ng-click="nextCard(x.next)">{{ x.text }}</div>
    </div>
    
</div>
    
<script>
    
var blop = document.getElementById("blop");
    
var app = angular.module('myApp', []);
app.controller('gameCards', function($scope, $http) {
    $http.get("cards/start.json")
    .then(function (response) {
        $scope.choices = response.data.choices;
        $scope.charleft = "characters/"+response.data.charleft;
        $scope.charright = "characters/"+response.data.charright;
        $scope.dialogue = response.data.dialogue;
    });
    
    $scope.nextCard = function(next) {
        $http.get("cards/"+next)
    .then(function (response) {
            $scope.choices = response.data.choices;
            $scope.charleft = "characters/"+response.data.charleft;
            $scope.charright = "characters/"+response.data.charright;
            $scope.dialogue = response.data.dialogue;
                
            });
            
        });
    };
});
</script>
    
<script>
    
//    if (data.x.text == '0'){
//    button.hide();
//}
    
</script>

</body>
</html>

